<div class="form">
<h4>Create an account</h4>
  <%= form_for @user do |f| %>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Sign Up", :class => 'signup-button'%><br>
  <% end %>
</div>
