<div class="entries-all">
  <h2> <%= journal_entry.entry_title %> </h2>
  <p> <%= journal_entry.created_at %> </p>
  <p> <%= journal_entry.entry_main %> </p>
  <%= link_to "View", journal_entry_path(journal_entry) %>
  <%= link_to "Edit", edit_journal_entry_path(journal_entry) %>
</div>
